/* genral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[id] {
  scroll-margin-top: 90px;
}

@import url(https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);
body {
  overflow-x: hidden;
  background: linear-gradient(135deg, #e9b3ff 0%, #f4ceff 50%, #e0d4ff 100%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-family: sans-serif;
}

.section-divder {
  height: 5px;
  background: linear-gradient(to right, #22006a);
  border-radius: 2px;
  box-shadow: 0 0 10px #000000;
}

/* web header */

.container {
  position: fixed;
  height: 15vh;
  max-height: 100px;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  background: linear-gradient(to right, #18002b, rgb(175, 90, 255));
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav li {
  padding: 10px 10px;

  display: inline-block;
  border-left: 1px solid #ffffff;
}

nav a {
  text-decoration: none;
  font-size: 26px;
  color: #ffffff;
  padding: 15px 15px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  transition: ease-in-out 0.4s;
}

nav a:hover {
  color: #2d0051;
}

.logo {
  width: 250px;
  height: auto;
  
}
.logo img {
  width: 200px;
}



.menu-toggle-input {

display: none;

}
.menu-toggle {

display: none;
font-size: 30px;
color: white;
cursor: pointer;
padding: 10px;
z-index: 1100;


}

/* background image info */

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(public/images/pexels-jovanvasiljevic-20131195.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  gap: 20px;
 
}

/* main section */

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  text-align: center;

}

.main-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 1px 1px 25px rgb(196, 109, 255);
}
.description {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
}

.description-text {
  width: 60%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 20px rgb(160, 160, 160);
}


/* مركز الاحداث  hero section   */

.languges-logo {
  display: flex;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: center;
  padding: 1% 2%;
  margin: auto;
  gap: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.languges-logo img {
  width: 45px;
  height: auto;
  border-radius: 5px;
}

/* the introduction about my work */

.introduction {
  display: flex;
  flex-direction: column;
  padding: 6% 2%;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.intro-title {
  color: #5e1f9c;
  text-shadow: 1px 4px 30px rgb(238, 185, 255), 2px 2px 20px rgb(223, 191, 225);
  padding: 15px 20px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  transition: ease-in-out 0.3s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.intro-text {
  color: rgba(0, 0, 0, 0.95);
  text-align: center;
  font-size: 20px;
  max-width: 800px;
  margin: 20px auto 20px auto;
  line-height: 1.7;
  font-weight: 500;
  font-family: "poppins";
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 25px 30px;
  border-radius: 12px;
}


.btn {
  padding: 15px 15px;
  background-color: #471273;
  color: #ffffff;
  font-size: 20px;
  border-radius: 30px;
  border-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  font-size: 20px;
  font-weight: 500;
  color: #18002b;
  background-color: #ffffffa8;
  transform: scale(1.05);
}

/* projects container معرض الاعمال */

.project {
  padding: 30px;
  display: flex;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.project-photo-container {
  width: 30%;
  display: flex;
  min-width: 250px;
  height: auto;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 30px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.752);
  background-color: #200535;
}

.project-photo-container img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 1px 1px 10px white;
  padding: 0px;
  transition: 0.5s;
}

.project-photo-container img:hover {
  transform: scale(1.05);
}

.project-title {
  font-size: 22px;
  color: #ffffff;
  margin-top: 15px;
  border-radius: 5px;
  text-shadow: 0px 1px 20px rgba(136, 136, 136, 0.564);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.project-text {
  color: #d1d1d1;
  font-size: 16.5px;
  line-height: 1.2;
  margin: 20px 0;
  text-align: center;
}

.project-btn {
  padding: 10px 10px;
  color: #18002b;
  background-color: #ffffffee;
  font-size: 19px;
  border-radius: 30px;
  font-weight: 500;
  border-style: none;
  font-family: "poppins";
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  text-decoration: none;
}

.project-btn:hover {
  font-weight: 500;
  color: #fafafa;
  background-color: #8f3affa8;
  transform: scale(1.05);

  transform: scale(1.2);
}

/* slide show pictures معرض صور  מצגת */

.content-show {
  display: flex;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.slideshow-container {
  width: 90%;
  max-width: 80vh;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slide-set {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 90%;
  opacity: 0;
  gap: 20px;
  transition: opacity 2s ease-in-out;
}

.slide-img {
  margin-top: 50px;
  width: 48%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.752);
}
.slide-set.active {
  opacity: 1;
  position: relative;
}

/* contact us section قسم التواصل צור קשר */

.contact-section {
  background-color: #200535;
  display: flex;
  padding: 4% 4%;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  
}

.contact-form {
  background-color: transparent;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 25px rgba(253, 253, 253, 0.485);
}

.contact-text {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin: 20px 0;
}

.my-form input {
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: white;
  border-bottom: 5px solid #8f3affa8;
}

.my-form textarea {
  height: 120px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  padding: 12px;
  resize: none;
  background-color: #f5f5f5;
  border-bottom: 5px solid #8f3affa8;
}

.my-form button {
  padding: 15px 10px;
  background-color: #ffffff;
  color: #190238;
  width: 100%;
  max-width: 200px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  border-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: ease-in-out 0.5s;
  display: block;
}

.my-form button:hover {
  font-weight: 500;
  color: #fafafa;
  background-color: #8f3affa8;
  transform: scale(1.05);
}

/* links and location footer */

.my-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  padding: 2% 2%;
  height: 50px;
}

.social-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 10px 0;
}

.social-row img {
  width: 50px;
  height: auto;
  transition: 0.5s ease-in-out;
  object-fit: contain;
}

.social-row img:hover {
  transform: scale(1.2);
  border-radius: 10px;
}

.social-text {
  color: #000000;
  font-family: "popppins";
  text-shadow: 1px 1px 20px rgb(169, 40, 224);
  margin-bottom: 5px;
}







@media (max-width: 768px) {


  body {

    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


  
  .menu-toggle {

    display: block;
  }

  .main-menu ul {

    
    flex-direction: column;
    background-color: #18002b;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 20px;
    height: 100vw;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
    z-index: 1000;


  }

  .menu-toggle-input:checked+.menu-toggle+.main-menu ul {

    display: flex;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    padding: 20px;

  }
  .main-menu li {


    border-left: none;
    padding: 10px 0;
    text-align: center;
    border-bottom: solid 1px white;
   
  }
  .main-menu ul li {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-toggle-input:checked + .menu-toggle + .main-menu ul li {
  opacity: 1;
  transform: translateY(0);
}
.main-title {

font-size: 35px;

}

.description-text {

  font-size: 13px;
  width: 85%;
  
}

.intro-title {

font-size: 32px;

}

.intro-text {

  font-size: 13px;
}

.btn {

  padding: 11px 11px;
  font-size: 15px;
}

.project-photo-container {

width: 100%;

}
.slide-set {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.slide-img {

 display: none;
}
.slide-img:first-child {
  display: block;
  width: 80%;
}


.contact-section{

padding: 30px;
height: 65vh;


}

.my-form input {

max-width: 300px;
height: 50px;
}


.my-form textarea {

  max-width: 300px;
  height: 100px;
}

.contact-title {
  font-size: 25px
}
.contact-text {

  font-size: 15px ;
  max-width: 300px;
  line-height: 1.2;
}
.my-form button {

font-size: 15px;
padding: 10px 10px;
max-width: 70px;
}

.social-row {
  margin: auto;
}

.social-row img {

width: 35px;


}

.social-text{

 display: none;
}

  
}
