@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');


/* إعداد عام genral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #fffdf8 0%, #fafffffa 50%, #f0f0f0 100%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(163, 163, 163);
  font-family: 'heepo'  ,sans-serif;
  overflow-x: hidden;
}

.content-wrapper{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
gap: 30px;




}

.main {


display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
height: 840px ;
background-image: url('../projectimages/project3.png');
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
gap: 20px;


}


.main-title{

color: #D3E10E;
font-size: 70px;
margin-bottom: 20px;


}


.main-text {

font-size: 22px;
color: #F9F9F9;

}


form{
    
    display: flex;
    width: 100%;
align-items: center;
justify-content: center;
gap: 20px;
padding: 4% 2%;
    
}

.form-container{

display: flex;
flex-direction: column;
gap: 5px;
margin-bottom: 15px;

}


label{

font-size: 18px;
color: #011560;
font-weight: bold;
}


.form-container input[type="email"],
 .form-container input[type="text"]{

padding: 15px;
height: 50px;
font-size: 18px;
width: 420px;
width: 100%;


}

.btn{

background-color:#D3E10E ;
color: #011560;
font-size: 22px;
width: 170px;
padding: 10px;
border-radius: 5px;
border: none;
font-weight: 600;


}

@media (max-width:768px){



.main {


height: 70vh;
gap: 10px;


}


.main-title{

    text-align: left;
font-size: 40px;
width: 100%;
max-width: 300px;
margin-bottom: 30px;


}


.main-text {

font-size: 17px;
width: 300px;
text-align: left;

}


form{
    
   
    flex-direction: column;
justify-content: center;
align-items: center;

    
}


label{

font-size: 16px;
color: #011560;
font-weight: bold;
}


.form-container input[type="email"],
 .form-container input[type="text"]{


height: 40px;
font-size: 16px;
max-width: 290px;
width: 100%;


}

.btn{

font-size: 18px;
width: 150px;




}





}